html,
body{
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

#container{
    display: flex;
    margin: auto;
    min-height: 80%;
    min-width: 80dvh;
    outline:1px solid black;
    flex-direction: row;
}

.pixel-grid{
    flex:1;
    display: flex;
    flex-direction: column;
}

.cell{
    flex: 1;
    outline:1px solid black;
}